body{
    display: flex;
    justify-content: center;
    margin: auto;
}

.dangnhap{
    margin-right: 20px;
}

button{
    width: 170px;
    color: black;background-color: red;
    color: white;
}

button:hover{
    font-weight: bold;
    background-color: rosybrown;
}

ul{
    font-weight: bold;
}