#slider{
    margin-top: 130px;
    height: 450px;
}
#slider .col-inner h3{
    color: #c30005;
}
#slider .col-inner{
    height: 328px;
    width: 100%;
    /* border: 1px solid; */
}
#slider .col-inner .contact{
    height: 328px;
    width: 50%;
    /* border: 1px solid; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: left;
}
#slider .col-inner .contact .sub_contact{
    width: 100%;
    height: 270px;
    /* border: 1px solid; */
}
.sub_contact .content{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #c30005;
}
.email a{
    text-decoration: none;
    color: #777;
}
.email a:hover{
    color: red;
}
i{
    font-size: 25px;
    color: #777;
}
.view{
    color: #777;
    font-family: sans-serif;
}

#slider .col-inner .contact1{
    height: 328px;
    width: 50%;
    /* border: 1px solid green; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    float: left;
    
}
.sub_contact1{
    width: 100%;
    height: 270px;
    /* border: 1px solid; */
    padding-top: 10px;
    padding-left: 10px;
}
.sub_contact1 span input{
     margin: 12px;
    padding: 12px;
    width: 300px;
}
button{
    margin-left: 78px;
    background-color: red;
    border-radius: 14px;
    width: 200px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}